<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h2>Layout here</h2>
    {{{body}}}
    <!-- 页面的公共脚本或者trace服务的脚本可以放在这里加载 -->
  </body>
</html>
