<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    {{#err}}
      <h2>{{status}}</h2>
      <p>{{message}}</p>
      <pre>{{stack}}</pre>
    {{/err}}
  </body>
</html>
